
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-service-item owl-carousel">
{% for row in rows %}

          <div class="item">
            <div class="icon">
              <img src="themes/custom/azure/images/service-icon-01.png" alt="">
            </div>
            <div class="down-content">
              <h4>{{ row['content']['#row']._entity.field_title.value}}</h4>
{{ row['content']['#row']._entity.body.value | raw }}  
          </div>
          </div>
{% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

